<div class="jumbotron">
  <h1>Harry Potter Appreciation: Characterz</h1>
</div>

<%= link_to "Sort By Creation Date", characters_path(:created_at) %><br>
<%= link_to "Sort Alphabetically", characters_path(:name) %><br>
<%= link_to "Sort By Review Count", characters_path(:reviews) %>

<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %>, Reviews: <%= character.reviews.length %>, Average Rating: <%= character.average_rating %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New Character", new_character_path %>
