<h1>Characters</h1>

<%= link_to "Sort By Creation Date", characters_path(:created_at) %><br>
<%= link_to "Sort Alphabetically", characters_path(:name) %><br>
<%= link_to "Sort By Review Count", characters_path(:reviews) %>

<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %>, Reviews: <%= character.reviews.length %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New Character", new_character_path %>
