<h1><%= @character.name %></h1>

<h3>Location: <%= @character.location %></h3>

<h3>Average Rating Proper Way: <%= @character.average_rating %></h3>

<p><%= link_to "Edit", edit_character_path(@character) %></p>
<p><%= link_to "Delete", character_path(@character),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to characters", characters_path %></p>

<hr>
<% if @character.reviews.any? %>
  <h4>Here are the reviews for this character:</h4>

  <ul>
    <% @character.reviews.each do |review| %>
      <li>
        <%= review.author %> |
        <%= review.body %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>

<p><%= link_to "New Review", new_character_review_path(@character) %></p>
<p><%= link_to "New Rating", new_character_rating_path(@character) %></p>
